.footer {
    background: $prColor;
    padding-top: 70px;
    p {
        color: $fthColor;
        margin-bottom: 30px;
    }
    // &__about {

    // }
    &__widget {
        margin-bottom: 30px;
        h6 {
            color: $white;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 0;
            margin-bottom: 20px;
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                line-height: 36px;
                list-style: none;
                a {
                    color: $fthColor;
                    font-size: 15px;
                }
            }
        }
    }
    &__copyright__text {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 20px;
        margin-top: 40px;
        svg {
            font-size: 18px;
            vertical-align: middle;
            color: $thColor;
        }
    }
    .MuiInput-underline:before {
        left: 0;
        right: 0;
        bottom: 0;
        content: "\00a0";
        position: absolute;
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid $white;
        pointer-events: none;
    }
    .shrink {
        background-color: "blue";
    }
    .MuiInput-underline:after {
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        position: absolute;
        transform: scaleX(0);
        transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        border-bottom: 2px solid $white;
        pointer-events: none;
    }
}
