.header {
    &__logo {
        padding: 30px 0;
        @include respond(tab-port) {
            img {
                width: 11rem;
            }
        }
    }
    &__menu {
        // text-align: center;
        padding: 1.7rem 0;
        width: 100%;
        ul {
            li {
                list-style: none;
                display: inline-block;
                margin-right: 45px;
                position: relative;
                a {
                    &.active {
                        &::after {
                            transform: scale(1) !important;
                        }
                    }

                    // &.active &::after {
                    //     transform: scale(1) !important;
                    // }
                    text-decoration: none;
                    font-size: 18px;
                    color: #111111;
                    display: block;
                    font-weight: 500;
                    position: relative;
                    padding: 3px 0;
                    &:after {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                        background: #e53637;
                        content: "";
                        -webkit-transition: all, 0.5s;
                        -o-transition: all, 0.5s;
                        transition: all, 0.5s;
                        transform: scale(0);
                    }
                }
                &:hover a:after,
                &.active a::after {
                    transform: scale(1);
                }
            }
        }
    }
    &__nav__option {
        padding: 1.5rem 0 0 0;
        width: 100%;
        text-align: right;
        a {
            display: inline-block;
            text-align: center;
        }
        p {
            margin-top: 0;
        }
    }

    &__wrapper {
        padding: 50px 20px 30px 30px;

        &__links {
            display: inline-block;
            a {
                color: #111111;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-right: 16px;
                display: inline-block;
                font-weight: 600;
            }
        }
        &__option {
            text-align: center;
            margin-bottom: 30px;
        }
        &__nav-option {
            text-align: center;
            margin-bottom: 25px;
            span {
                vertical-align: super;
                font-size: 15px;
                color: #111111;
                font-weight: 700;
                margin-left: 5px;
            }
        }
        &__list {
            nav {
                ul {
                    li {
                        a {
                            padding: 7px 0;
                            margin: 0;
                            color: #111111;
                            font-weight: 600;
                            display: block;
                        }
                    }
                }
            }
        }
        &-text {
            p {
                color: #111111;
                margin-bottom: 0;
            }
        }
    }
}

.mobile_toggler {
    display: none;
}
@include respond(tab-port) {
    .mobile {
        &_menu {
            display: none;
        }
        &_cart {
            display: none;
        }
        &_toggler {
            display: block;
        }
        &_header-top {
            display: none;
        }
    }
}
.MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
