.breadcrumb {
    &-option {
        background: #f3f2ee;
        padding: 40px 0;
    }
    &__text {
        h4 {
            color: #111111;
            font-weight: 700;
            margin-bottom: 8px;
        }
    }
    &__links {
        a {
            font-size: 15px;
            color: #111111;
            display: inline-block;
            position: relative;
            text-transform: uppercase;
        }
        svg {
            margin: 0 6px;
            font-size: 10px;
        }

        span {
            font-size: 15px;
            color: #b7b7b7;
            display: inline-block;
            text-transform: uppercase;
        }
    }
}
