.product__details {
    &__content {
        text-align: center;
        .MuiGrid-root {
            justify-content: center !important;
        }
        &--text {
            .rating {
                margin-bottom: 20px;
                svg {
                    color: #f7941d;
                    vertical-align: middle;
                    font-size: 18px;
                }
                span {
                    display: inline-block;
                    color: #3d3d3d;
                    margin-left: 5px;
                    font-size: 13px;
                }
            }
            h4 {
                color: #111111;
                font-weight: 700;
                margin-bottom: 10px;
            }
            h3 {
                color: #0d0d0d;
                font-weight: 700;
                margin-bottom: 16px;
                span {
                    color: #b7b7b7;
                    font-size: 20px;
                    font-weight: 400;
                    margin-left: 10px;
                    text-decoration: line-through;
                }
            }
        }
        &--size {
            margin-bottom: 30px;

            span {
                color: #111111;
                display: inline-block;
                margin-right: 10px;
            }
            .MuiToggleButtonGroup-groupedHorizontal:not(:last-child),
            .MuiToggleButtonGroup-groupedHorizontal:not(:first-child) {
                color: #111111;
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
                border: 1px solid #e5e5e5;
                padding: 6px 15px;
                margin-bottom: 0;
                margin-right: 5px;
                cursor: pointer;
                border-radius: 0;
            }
            .MuiToggleButton-root.Mui-selected {
                background-color: #111111;
            }
            .MuiToggleButton-root.Mui-selected span {
                color: white;
            }
            .MuiToggleButton-root.Mui-selected:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
            .MuiToggleButton-root:hover {
                background-color: unset;
            }
        }
        &--cart {
            margin-bottom: 25px;
            .quantity {
                display: inline-block;
                margin-right: 20px;
                .pro-qty {
                    width: 100px;
                    height: 40px;
                    border: 1px solid #e5e5e5;
                    position: relative;
                    background-color: white;

                    input {
                        color: #0d0d0d;
                        font-size: 15px;
                        font-weight: 700;
                        width: 70px;
                        height: 100%;
                        text-align: center;
                        border: none;
                    }
                    .qtybtn {
                        font-size: 18px;
                        color: #0d0d0d;
                        position: absolute;
                        right: 15px;
                        top: 3px;
                        height: 10px;
                        width: 10px;
                        cursor: pointer;
                        font-weight: 600;
                        &.inc {
                            top: 16px;
                        }
                    }
                }
            }
        }
        &--last-option {
            h5 {
                color: #111111;
                font-weight: 700;
                font-size: 20px;
                position: relative;
                margin-bottom: 26px;
                span {
                    background: #fafafa;
                    padding: 0 30px;
                }
                &:before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 10px;
                    height: 1px;
                    width: 100%;
                    background: #e5e5e5;
                    content: "";
                    z-index: -1;
                    margin: 0 auto;
                }
            }
            img{
                width: 100%;
            }
            ul {
                padding: 40px 0;

                li {
                    list-style: none;
                    font-size: 15px;
                    color: #111111;
                    font-weight: 700;
                    line-height: 30px;
                    span {
                        font-weight: 400;
                        color: #b7b7b7;
                    }
                }
            }
        }
    }

    &__pic {
        text-align: center;
        background: #f3f2ee;
        padding: 0px 0 20px;
        margin-bottom: 100px;
        &__item {
            position: relative;
            img {
                max-width: 100%;
            }
        }
        .breadcrumb-option {
            h4 {
                display: none;
            }
            .title {
                color: #111111;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            &.nav-tabs {
                border-bottom: none;
                width: 105px;
                .nav-item {
                    margin-bottom: 10px;
                    cursor: pointer;
                    // .nav-link.active {
                    //     display: block;
                    //     transform: scale(1.1);
                    // }
                }
            }
        }
        .product__thumb__pic {
            height: 120px;
            width: 95px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            @include background-default;
            svg {
                height: 70px;
                width: 70px;
                font-size: 20px;
                color: #ffffff;
                line-height: 48px;
                display: inline-block;
                text-align: center;
            }
        }
    }
}
