.banner {
    &__item {
        position: relative;
        overflow: hidden;
        &--middle {
            margin-top: -75px;
            .banner__item__text {
                position: relative;
                top: 0;
                left: 0;
                max-width: 100%;
                padding-top: 22px;
            }
            .banner__item__pic {
                float: none;
            }
        }
        &--last {
            margin-top: 100px;
        }
        &:hover &__text a:after {
            @include link-hover;
        }
        &__pic {
            float: right;

            img {
                max-width: 100%;
            }
        }
        &__text {
            max-width: 300px;
            position: absolute;
            left: 4rem;
            top: 140px;
            h2 {
                color: #111111;
                font-weight: 700;
                line-height: 46px;
                margin-bottom: 10px;
                margin-top: 0;
                span {
                    display: block;
                }
            }
            a {
                @include link;
                &::after {
                    @include link-after;
                }
            }
        }
    }
}

// QUIRES
@include respond(tab-port) {
    .makeStyles-mlCol-11 {
        margin-left: 0 !important;
    }
    .banner__item {
        margin-bottom: 40px;
        &--last {
            margin-top: 0;
        }
        &__pic {
            float: none;
            img{
                min-width: 100%;
            }
        }
        &__text{
            position: unset;
            max-width: 100%;

            h2{
                span{
                    display: inline;
                }
            }

        }
       &--middle{
           margin-top: 0;
       }

    }
    
}
