.shopping__cart {
    .breadcrumb__links {
        .title {
            color: #111111;
        }
    }
    &__table {
        margin-bottom: 30px;
        .cart__price {
            color: #111111;
            font-size: 18px;
            font-weight: 700;
            width: 140px;
        }
        .MuiTableCell-head {
            color: rgba(0, 0, 0, 0.87);
            font-weight: 700;
            line-height: 1.5rem;
            font-size: 19px;
        }
        .MuiAvatar-colorDefault {
            color: #000;
            cursor: pointer;
        }
        .card-img {
            width: 6rem;
            height: 6rem;
        }
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        ::placeholder {
            text-align: center;
        }
        .MuiInputBase-input {
            width: 31px;
            text-align: center;
        }
        .MuiSvgIcon-root {
            vertical-align: sub;
        }
        .MuiCardHeader-title {
            font-size: 1rem;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 700;
        }
        .MuiCardHeader-subheader {
            font-size: 1.1rem;
            font-weight: 700;
        }
    }
    .MuiButton-root {
        border-radius: unset;
        padding: 0.8rem 2rem;
    }

    .cart__discount {
        margin-bottom: 60px;

        h6 {
            color: #111111;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 35px;
        }
        form {
            position: relative;
            input {
                font-size: 14px;
                color: #b7b7b7;
                height: 50px;
                width: 100%;
                border: 1px solid #e1e1e1;
                padding-left: 20px;
            }
            .MuiButton-root {
                position: absolute;
                right: 0;
            }
        }
    }
    .cart__total {
        background: #f3f2ee;
        padding: 35px 40px 40px;
        h6 {
            color: #111111;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
        ul {
            margin-bottom: 25px;
            li {
                list-style: none;
                font-size: 16px;
                color: #444444;
                line-height: 40px;
                overflow: hidden;
                span {
                    font-weight: 700;
                    color: #e53637;
                    float: right;
                }
            }
        }
    }
}
